<ion-content class="ion-margin">
  <h1>Security Setup</h1>
  <p>Please choose your security settings to continue</p>

  <ion-card *ngIf="isBiometricsSupported">
    <ion-card-header>
      <ion-card-title>Biometrics are supported for your device</ion-card-title>
      <ion-card-subtitle
        >Using your device's Biometric features (Face ID, Fingerprint) is the most secure way to
        proceed</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      Using your device's Biometric (Face ID, Fingerprint) is the most secure way to proceed
    </ion-card-content>
    <ion-icon class="xl" name="finger-print"></ion-icon>
    <ion-button [disabled]="!isBiometricsEnabled" (click)="setupVault('Biometrics')">Use Device Biometrics</ion-button>
    <p *ngIf="!isBiometricsEnabled" class="info">
      <ion-icon name="warning-outline"></ion-icon>
      <span>Biometrics are not currently enabled on your device. Please enable it.</span>
    </p>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Setup Your Passcode</ion-card-title>
      <ion-card-subtitle>Use a custom passcode to secure your access to the app.</ion-card-subtitle>
    </ion-card-header>
    <ion-icon class="xl" name="keypad"></ion-icon>
    <ion-button fill="outline" (click)="setupVault('CustomPasscode')">Use Passcode</ion-button>
    <p *ngIf="!hasSecureHardware" class="info">
      <ion-icon name="warning-outline"></ion-icon>
      <span>Your device does not contain hardware security features.</span>
    </p>
  </ion-card>
</ion-content>
